body,
.conteiner {
   height: 869px;
}

body {
   background: #043873;
   background-image: url(../IMG/Element.svg);
}

/*Header*/

.conteiner>.header-section {
   padding-left: 16px;
   padding-top: 16px;
}


.conteiner>.header-section>.logo {
   width: 134px;
   height: 24px;
   display: contents;
}


.conteiner>.header-section>.burger {
   display: none;
}


.conteiner>.header-section>label>.menu-span {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 250px;
   margin-top: -26px;
   gap: 40px;
   width: 42px;
   height: 24px;
   flex: none;
   order: 1;
   align-self: stretch;
}


input[type="checkbox"]:checked~.navbar {
   display: block;
   background-color: #043873;
   width: 100%;
   height: 100vh;
   max-width: 100%;
   z-index: 100;
}

/*Hero*/

.conteiner>.hero-section {
   width: 320px;
   height: 813px;
}

.conteiner>.hero-section>.all {
   height: 653px;
   width: 288px;
   padding-left: 16px;
   padding-top: 80px;
}

.conteiner>.hero-section>.all>.content>.text-block {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   isolation: isolate;
   width: 288px;
   height: 232px;
}

.conteiner>.hero-section>.all>.content>.text-block>h1 {
   width: 288px;
   height: 88px;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 36px;
   line-height: 44px;
   text-align: center;
   letter-spacing: -0.02em;
   color: #FFFFFF;
}

.conteiner>.hero-section>.all>.content>.text-block>p {
   width: 288px;
   height: 120px;
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   text-align: center;
   letter-spacing: -0.02em;
   color: #FFFFFF;
}

.conteiner>.hero-section>.all>.content>.btn-mobail {
   height: 70px;
   width: 232px;
   left: 28px;
   padding-top: 60px;
   padding-left: 28px;
}

.conteiner>.header-section>.navbar>.buttons,
.conteiner>.header-section>.navbar>.menu,
.conteiner>.hero-section>.all>.content>.btn-PC {
   visibility: hidden;
   width: 0px;
   height: 0px;
}

.conteiner>.hero-section>.all>.content>.btn-mobail>button {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 20px 40px;
   gap: 10px;
   color: #FFFFFF;
   width: 232px;
   height: 70px;
   background: #4F9CF9;
   border-radius: 8px;
   border-color: #4F9CF9;
   font-family: 'Inter', sans-serif;
}

.conteiner>.hero-section>.all>.hero-img {
   padding-top: 100px;
}

@media screen and (min-width: 1920px) {
   * {
      margin: 0;
      padding: 0;
   }

   body {
      background: #043873;
      background-image: url(../IMG/Element\ 2.svg);
   }

   .conteiner>.header-section>.navbar>.buttons,
   .conteiner>.header-section>.navbar>.menu,
   .conteiner>.hero-section>.all>.content>.btn-PC {
      visibility: visible;
   }

   .conteiner>.hero-section>.all>.content>.btn-mobail {
      visibility: hidden;
      width: 0px;
      height: 0px;
   }

   .conteiner>.header-section>label>.menu-span {
      display: none;
   }

   .conteiner>.header-section {
      height: 92px;
      width: 1920px;
      padding: 0px;
      display: flex;
   }

   .conteiner>.header-section>.navbar {
      height: 60px;
      width: 988.5px;
      padding-left: 300.5px;
      padding-top: 16px;
      display: flex;
      align-items: center;
      align-content: center;
   }

   .conteiner>.header-section>.logo {
      padding-left: 220px;
      padding-top: 29px;
      height: 34px;
      width: 191px;
      left: 220px;
      display: block;
   }

   .conteiner>.header-section>.logo>img {
      height: 34px;
      width: 191px;
   }

   .conteiner>.header-section>.navbar>.menu {
      height: 23px;
      width: 426.5px;
      top: 18.5px;
   }

   .conteiner>.header-section>.navbar>.menu>nav {
      height: 23px;
      width: 426.5px;
   }

   .conteiner>.header-section>.navbar>.menu>nav>ul>li {
      list-style-type: none;
      display: inline;
      padding-left: 32px;
   }

   .conteiner>.header-section>.navbar>.menu>nav>ul>li>a {
      text-decoration: none;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      font-family: 'Inter', sans-serif;
   }

   .conteiner>.header-section>.navbar>.menu>nav>ul>li:nth-child(1) {
      padding-left: 0px;
   }


   .conteiner>.header-section>.navbar>.buttons>.btn-1,
   .conteiner>.header-section>.navbar>.buttons>.btn-2 {
      display: inline;
   }

   .conteiner>.header-section>.navbar>.buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 0px;
      gap: 24px;
      width: 377px;
      height: 60px;
      padding-left: 211px;
   }

   .conteiner>.header-section>.navbar>.buttons>.btn-1>a,
   .conteiner>.header-section>.navbar>.buttons>.btn-2>a {
      text-decoration: none;
      font-family: 'Inter', sans-serif;
   }

   .conteiner>.header-section>.navbar>.buttons>.btn-1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 126px;
      height: 60px;
      background: #FFE492;
      border-radius: 8px;
   }

   .conteiner>.header-section>.navbar>.buttons>.btn-1>a {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.02em;
      color: #043873;
   }

   .conteiner>.header-section>.navbar>.buttons>.btn-2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 227px;
      height: 60px;
      background: #4F9CF9;
      border-radius: 8px;
   }

   .conteiner>.header-section>.navbar>.buttons>.btn-2>a {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
   }

   .conteiner>.hero-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      isolation: isolate;
      width: 1920px;
      height: 829px;
   }

   .conteiner>.hero-section>.all {
      padding-left: 220px;
      padding-top: 140px;
      width: 1505px;
      height: 700px;
   }

   .conteiner>.hero-section>.all>.content {
      height: 361px;
      width: 656px;
      display: contents;
   }

   .conteiner>.hero-section>.all>.content>.text-block {
      display: block;
      height: 250px;
      width: 656px;
   }

   .conteiner>.hero-section>.all>.content>.text-block>h1 {
      width: 656px;
      height: 154px;
      font-weight: 700;
      font-size: 64px;
      line-height: 77px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      font-family: 'Inter', sans-serif;
      text-align: left;
   }

   .conteiner>.hero-section>.all>.content>.text-block>p {
      width: 656px;
      height: 60px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      text-align: left;
   }

   .conteiner>.hero-section>.all>.content>.btn-PC {
      height: 63px;
      width: 219px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      background: #4F9CF9;
   }

   .conteiner>.hero-section>.all>.content>.btn-PC>a {
      font-family: 'Inter', sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: -0.02em;
      text-decoration: none;
      color: #FFFFFF;
      padding-left: 20px;
   }

   .conteiner>.hero-section>.all>.hero-img {
      height: 549px;
      width: 824px;
      padding: 0;
      margin-top: -460px;
      margin-left: 685px;
   }

   .conteiner>.hero-section>.all>.hero-img>img {
      height: 549px;
      width: 824px;
   }
}