body,
.conteiner {
   height: 869px;
}

body {
   background: #043873;
   background-image: url(../IMG/Element.svg);
}

/*Header*/

.conteiner>.header-section {
   padding-left: 16px;
   padding-top: 16px;
}


.conteiner>.header-section>.logo {
   width: 134px;
   height: 24px;
   display: contents;
}


.conteiner>.header-section>.burger {
   display: none;
}


.conteiner>.header-section>label>.menu-span {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 250px;
   margin-top: -26px;
   gap: 40px;
   width: 42px;
   height: 24px;
   flex: none;
   order: 1;
   align-self: stretch;
}


input[type="checkbox"]:checked~.navbar {
   display: block;
   background-color: #043873;
   width: 100%;
   height: 100vh;
   max-width: 100%;
   z-index: 100;
}

/*Hero*/

.conteiner>.hero-section {
   width: 320px;
   height: 813px;
}

.conteiner>.hero-section>.all {
   height: 653px;
   width: 288px;
   padding-left: 16px;
   padding-top: 80px;
}

.conteiner>.hero-section>.all>.text-block {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   isolation: isolate;
   width: 288px;
   height: 232px;
}

.conteiner>.hero-section>.all>.text-block>h1 {
   width: 288px;
   height: 88px;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 36px;
   line-height: 44px;
   text-align: center;
   letter-spacing: -0.02em;
   color: #FFFFFF;
}

.conteiner>.hero-section>.all>.text-block>p {
   width: 288px;
   height: 120px;
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   text-align: center;
   letter-spacing: -0.02em;
   color: #FFFFFF;
}

.conteiner>.hero-section>.all>.btn {
   height: 70px;
   width: 232px;
   left: 28px;
   padding-top: 60px;
   padding-left: 28px;
}

.conteiner>.hero-section>.all>.btn>button {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 20px 40px;
   gap: 10px;
   color: #FFFFFF;
   width: 232px;
   height: 70px;
   background: #4F9CF9;
   border-radius: 8px;
   border-color: #4F9CF9;
   font-family: 'Inter', sans-serif;
}

.conteiner>.hero-section>.all>.hero-img {
   padding-top: 100px;
}